.about__container{
    display: grid;
    grid-template-columns: 100% 70%;
    gap: 20%;
}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card-hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor:default;
}

.about__icon{
    color: var(--color-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about__card h5{
    font-size: 0.95rem;
}

.about__card small{
    font-size: 0.9rem;
    color: var(--color-light);
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-white);
}

/*Media queries for tablets*/
@media screen and (max-width: 1024px){
    .about__container{
        display: grid;
        grid-template-rows: 100% 70%;
        flex-direction: row;
        gap: 0.5rem;
    }
    .about__content p{
        margin: 1rem 0 1.5rem;
    }
}

/*Media queries for mobile phones*/
@media screen and (max-width: 600px){
    .about__container{
        display:flexbox;
        grid-template-rows: 90% 60%;
        flex-direction: row;
        gap: 1.5rem;
    }
   .about__cards{
    display:block;
    grid-template-rows: 90% 60%;
    flex-direction: row;
    gap: 1.5rem;
   }
   .about__content{
    text-align: center;
   }
   .about__content p{
    display: none;
    margin: 1.5rem 0;
   }
}